<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {{ .title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/themes/cloud104/callback.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <script src="https://cdn.auth0.com/js/lock/11.5.0/lock.min.js"></script>
    
    <script>
      const clientID = `{{ .ClientID }}`;
      const issuerURL = `{{ .IssuerURL }}`;
      console.debug(`CLIENTID: ${clientID}, ISSUERURL: ${issuerURL}`);
      const lock = new Auth0Lock(clientID, issuerURL);
      lock.on("authenticated", function(authResult) {
        lock.getUserInfo(authResult.accessToken, function(error, profile) {
          if (error) {
            // Handle error
            return;
					}
					window.location.href = location.protocol + '//' + `${location.host}?id_token=${authResult.idToken}`;
        });
      })
    </script>
  </head>
  <body>
		<div>
			<img src="https://s3.us-east-2.amazonaws.com/logo-cloud104/totvs-logo-grey.svg" width="300px"/>
		</div>		
  </body>
</html>
