<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {{ .title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/themes/cloud104/styles.css">
    <link rel="icon" href="/static/img/favicon.ico">
    
    <script>
      if (window.location.search.indexOf('id_token') === -1) {
        window.location.href = location.protocol + '//' + `${location.host}/login`;
      }
      function toggle(queryStringKey) {
        if (window.location.search.indexOf(`&${queryStringKey}=1`) < 0) {
          window.location.href = `${window.location.href + '&' + queryStringKey + '=1'}`;
        } else {
          window.location.href = window.location.href.replace('&' + queryStringKey + '=1', '');
        }
      }
      function copyToClipboard() {
        var tokenEle = document.getElementById('id_token')
        if (document.selection) { 
          var range = document.body.createTextRange();
          range.moveToElementText(tokenEle);
          range.select().createTextRange();
          document.execCommand("copy");
        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(tokenEle);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand("copy");
        }
      }
    </script>
  </head>
  <body class="theme-body">
    <div id="login" ></div>
    <div class="theme-navbar">
      <div class="theme-navbar__logo-wrap">
        <div>
          <img class="theme-navbar__logo" src="https://s3.us-east-2.amazonaws.com/logo-cloud104/totvs-logo-grey.svg">
        </div>
        <div class="theme-navbar__buttons">
          <a href="/" class="theme-btn-icon--signout"></a>
        </div>
      </div>
    </div>

    <div class="theme-container">
      {{ if .ClusterSize }}
        <div class="theme-text-container">
          <div class="theme-text-header">cluster size</div>
          <div> {{ .ClusterSize }} </div>
        </div>

        <div class="theme-text-container">
          <div class="theme-text-header">public api</div>
          <div> https://api.keXX.{{ .ProductDomain }} </div>
        </div>
      {{ end }}

      {{ if .ProductDomain }}
        <div class="theme-text-container">
          <div class="theme-text-header">product domain</div>
          <div> {{ .ProductDomain }} </div>
        </div>
      {{ end }}

      {{ if .PublicK8sAPIServer }}
        <div class="theme-text-container">
          <div class="theme-text-header">cluster k8s api server</div>
          <a href="{{ .PublicK8sAPIServer }}">{{ .PublicK8sAPIServer }}</a>
        </div>
      {{ end }}
      {{ if .PublicK8sAPIServerRootCA }}
        <div class="theme-text-container">
          <div class="theme-text-header">k8s api server root ca</div>
          <a download href="ca.crt">ca.crt</a>
        </div>
      {{ end }}

      <hr />

      {{ if .Name }}
        <div class="theme-text-container">
          <div class="theme-text-header">name</div>
          <div> {{ .Name }} </div>
        </div>
      {{ end }}
      {{ if .Email }}
        <div class="theme-text-container">
          <div class="theme-text-header">email address</div>
          <div> {{ .Email }} </div>
        </div>
      {{ end }}

      {{ if .Groups }}
        <div class="theme-text-container">
          <div class="theme-text-header">Groups</div>
          <div style="padding-top:5px;">
            {{ range .Groups }}
              <span class="theme-groups-label">{{ . }}</span>
            {{ end }}
          </div>
        </div>
      {{ end }}
      <div class="theme-text-container">
        <div class="theme-text-header">Expires At</div>
        <div>{{ .ExpireAt }} ( {{ .TimeToExpire }} ) </div>
      </div>

      <div class="theme-text-container">
        <div class="theme-text-header">kubectl</div>
        <div>
            <button type="submit" class="theme-btn--primary" onclick="window.open(`{{ .KubeConfigURL }}`);">
              Download Configuration
            </button>
        </div>
      </div>

      <div class="theme-text-container">
        <div class="theme-text-header">auth token</div>
        <div style="padding-bottom:20px;">
          <button class="theme-btn--primary" onclick="toggle('tokenInfo')">
            Show Token Information
          </button>
          {{ if .IDTokenInfo }}
            <button class="theme-btn--primary" onclick="copyToClipboard()">
              Copy ID Token
            </button>
          {{ end }}
        </div>
        {{ if .IDTokenInfo }}
          <div class="theme-text-container">
            <div class="theme-text-header">id token</div>
            <div class="theme-block-info">
              <pre><code id="id_token">{{ .IDToken }}</code></pre>
            </div>
          </div>
          <div class="theme-text-container">
            <div class="theme-text-header">token claims</div>
            <div class="theme-block-info">
              <pre><code>{{ .IDTokenInfo }}</code></pre>
            </div>
          </div>          
        {{ end }}
      </div>
    </div>
  </body>
</html>
