<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {{ .title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/themes/cloud104/styles.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <script src="https://cdn.auth0.com/js/lock/11.5.0/lock.min.js"></script>
    <script>
			const lockOptions = {
				theme: {
					logo: 'https://s3.us-east-2.amazonaws.com/logo-cloud104/totvs-logo-grey.svg',
				},
				languageDictionary: {
					title: "",
				},
				auth: {
					// rememberLastLogin: false,
					redirectUrl: `${window.location.origin}/callback`,
					responseType: 'id_token token',
					params: {
						scope: 'openid name email username customer org sub groups'
					}
				},
				closable: false,
				autoclose: true,
			}
			const clientID = `{{ .ClientID }}`;
      const issuerURL = `{{ .IssuerURL }}`;
      console.debug(`CLIENTID: ${clientID}, ISSUERURL: ${issuerURL}`);
			const lock = new Auth0Lock(clientID, issuerURL, lockOptions);			
			lock.show({ rememberLastLogin: false });
			lock.checkSession({}, function (error, authResult) {
				console.log('ERROR', error)
				console.log('RESULT', authResult)
			})
			lock.on("authenticated", function(authResult) {
				console.log('AUTHENTICATED', authResult);
			})
    </script>
  </head>
	<body style="background: rgb(76, 76, 76);">
	</body>
</html>
